<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Speratus' Commit Tracker</title>
    <meta name="description" content="A little GitHub App that tracks commits every week.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>
      Welcome to Speratus' Commit Tracker.
    </h1>
    <p>
      You've been redirected here by the authentication process. At this point, there's nothing further you need to do.
    </p>
  </body>
</html>