<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Speratus' Commit Tracker</title>
    <meta name="description" content="A little Github App that tracks Github commits per day every week.">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Welcome To Speratus' Commit Tracker.
      </h1>
      <h3>
        This app tracks how many commits you make per day across all github projects. Sadly it is not yet available
        for public use.
      </h3>
    </header>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
  </body>
</html>
