<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Speratus' Commit Tracker</title>
    <meta name="description" content="A little Github App that tracks Github commits per day every week.">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's client-side javascript file -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Welcome To Speratus' Commit Tracker.
      </h1>
      <h3>
        This app tracks how many commits you make per day across all github projects. Due to project
        limits on Glitch, if you want to use this app, you will have to remix it.
        <p>
          <a href="https://glitch.com/edit/#!/remix/speratus-commit-tracker">
            <img
                src="https://cdn.glitch.com/2703baf2-b643-4da7-ab91-7ee2a2d00b5b%2Fremix-button.svg"
                alt="Remix on Glitch"
            />
          </a>  
        </p>
        
      </h3>
    </header>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
      
      <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
      <script src="https://button.glitch.me/button.js"></script>
    </footer>
  </body>
</html>
