/* styles */
/* called by your view template */
body {
  font-family: sans-serif;
  padding: 25px;
  text-align: center;
}

ul {
  padding-left: 25%;
}

li {
  text-align: left;
}

h1, h2, h3 {
  font-weight: normal;
}

